/*Chapter 5.25 - Ampersand*/
@font-face {
    font-family: Ampersand;
    src: local('Georgia-Italic'), local('Goudy Old Style-Italic'), local('Palatino-Italic');
    unicode-range: U+26;
}
* {
    font-family: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
}

p {
    line-height: 1.5;
}

button {
    background: #DC304B;
    border: 0;
    color: #fff;
    padding: 1em;
    text-align: center;
    transition: 0.25s;
    border: 1px solid #00000044;
    display: block;
    font-weight: bold;
    border-radius: 2em;
    margin: 1em;
}
button:hover, button:focus {
    background: #1F2D3D;
    color: #fff;
}
textarea,
input[type$="text"],
input[type$="email"],
input[type$="password"] {
    border: 0;
    border-bottom: 3px solid #DC304B77;
    margin-bottom: 3px;
    transition: border-color 0.30s;
    padding: 0.5em;
    vertical-align: bottom;
}
textarea:focus,
input[type$="text"]:focus,
input[type$="email"]:focus,
input[type$="password"]:focus {
    margin-bottom: 0;
    border-bottom: 6px solid #DC304B;
}

h1 {
    font-size: 4rem;
    margin: 2em 0;
    padding: 0;
}

body>a:first-child {
    left: -999px;
    left: 63em;
    position: absolute;
    top: auto;
    width: 0;
    height: 0;
    overflow: hidden;
    text-decoration: underline;
    z-index: -999;
    transition: box-shadow 0.2s, filter 0.2s;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .0);
    filter: blur(5px);
    overflow: none;
}
/*Chapter 7.32 & Chapter 7.33 Dim background and blur*/
body>a:first-child:focus, body>a:first-child:active {
    color: #fff;
    left: 0;
    top: 0;
    overflow: auto;
    z-index: 999;
    /*Chapter 7.32 - Dim background*/
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .4);
    width: 100%;
    background: #F95F62;
    display: block;
    color: rgba(255, 255, 255, 1);
    padding: 0.75em;
    height: 2.5em;
    text-align: center;
    box-sizing: border-box;
    outline: 0;
    /*Chapter 7.33 - blur*/
    filter: blur(0);
}

main {
    z-index: 0;
    box-sizing: border-box;
    overflow: auto;
    display: grid;
    grid-column-gap: 5em;
    max-width: 60em;
    margin: 0 auto;
    padding: 1em;
}

main:first-of-type {
    grid-template-columns: 2fr 1fr;
}
main:nth-of-type(2) {
    grid-template-columns: 1fr 1fr 1fr;
}

section {
    margin: 4em 0 4em;
    background: #fff;
    box-shadow: 0px 5px 10px #aaa;
}
section:nth-child(4) {
    height: auto;
    clear: both;
}

section>h2:first-child {
    color: #343F4B;
    text-align: left;
    border-bottom: 6px solid #7089a3;
    font-weight: normal;
    text-align: center;
    margin: 0;
    padding: 0.5em;
}

section > ol {
    background: #ddd;
    display:  flex;
    flex-direction: column;
    list-style: none;
}
section > ol li {
    /*border:1px solid #999;*/
    border-radius: 10px;
    width: 40%;
    margin: 1em 0 1em;
    box-sizing: border-box;
    overflow: auto;
}
section > ol li:nth-child(even) {
    background: #F95F62;
    color: #FFF;
    margin-left: 58%;
    box-shadow: 5px 5px 5px #aaa;
}

section > ol li:nth-child(odd) {
    background: #FFF;
    text-align: left;
    margin-left: 2%;
    box-shadow: -5px 5px 5px #aaa;
}
section > ol li>p {
    padding: 0.5em 0 0.5em 1em;
}
section footer {
    background: #00000022;
    font-size: 0.8em;
    opacity: 0.9;
    padding: 0.5em;
    padding: 0.2em 0 0.2em 1em;
}
section > form[action$="/sendmsg"] {
    display: grid;
    grid-template-columns:  5fr 1fr;
    background: whitesmoke;
    border-top: 3px solid #aaa;
}
/* Not visible for regular users but visible for a screenreader */
section > form[action$="/sendmsg"] label {
    text-align: center;
    color: #333;
    padding-top: 1.4em;
    position: absolute;
    clip: rect(0,0,0,0);
}
section > form[action$="/sendmsg"] textarea {
    resize: vertical;
    min-height: 1.3em;
}

section > form[action$="/sendmsg"]>button {
    display: grid;
    grid-template-columns: 1fr 5fr 2fr;
}

section > form[action$="/login"] {
    display: grid;
    padding: 1.5em;
    grid-row-gap: 0.5em;
}
section > form[action$="/login"] fieldset {
    border: 0;
}
section > form[action$="/login"] a {
    margin: 1em 0 1em;
}
section > article {
    padding: 1em;
    display: flex;
    flex-direction: column;
    margin: 1em;
}
section > article h1 {
    font-size: 1.5em;
    margin: 0 0 1em;
    color: #1F2D3D;
    text-align: left;
    padding-bottom: 1em;
    border-bottom: 6px solid #ccc;
}
/* Chapter 7.36 - Intrinsic sizing*/
section > article figure {
    max-width: 100%;
	max-width: min-content;
	margin: auto;
    background: white;
    box-shadow: 0px 5px 10px #aaa;
    margin-bottom: 1em;
}
section > article figcaption p {
    padding: 1em;
    text-align: justify;
}
section > article footer {
    margin: 0;
    padding: 1em;
    text-align: center;
    font-weight: bold;
}
section > article figure>img {
    max-width: inherit;
}
section > article h1 a {
    text-decoration: none;
    color: #DC304B;
}
section > article img {
    margin: 0 auto;
}
section > article p {
    padding: 1em;
    text-align: justify;
}

header {
    background: #DC304B;
    background-size: cover;
    background-position: center;
    display: flex;
    height: 60vh;
    grid-template-columns: repeat(1, 1fr);
    padding: 0;
    margin: 0;
    color: rgba(255, 255, 255, 1);
}
/*Chapter 5.25 - Ampersand*/
/* Chapter 7.40 - Vertical centering */
header h1 {
    font-family: Ampersand, Roboto, sans-serif;
    text-align: center;
    margin: auto;
}

nav>ul {
    background: #1F2D3D;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    height: 40vh;
    padding: 0;
    margin: 0;
}

nav a {
    padding: 0.5em 0;
    text-align: center;
    box-sizing: border-box;
    transition: 0.25s;
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    font-weight: bold;
}

nav a:not([href$="products"]) {
    width: 100%;
    height: 100%;
}

nav a:hover, nav a:focus {
    outline: 0;
    background: #DC304B;
}

/* All direct children of type a within li in the wrapper */

nav>ul>li>a {
    display: block;
    height: 50%;
    font-size: 3.5em;
}

/*Top of the submenu items (products > submenu products)*/

/*Submenu items*/

nav>ul>li>ul {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 50%;
    width: 100%;
    list-style: none;
    border-top: 0.2em solid #DC304B;
}

nav>ul>li>ul:nth-child(2) a {
    width: 100%;
    height: 100%;
    display: block;
}

nav>ul>li {
    border: 0.1em 0.1em 0.1em 0.1em solid #DC304B;
    list-style: none;
    width: 100%;
}

@media (max-width: 60em) {
    nav>ul {
        flex-wrap: wrap;
        height: auto;
    }
    nav>ul>li>ul {
        margin-top: 1em;
    }
    nav>ul>li>a {
        display: block;
        height: 50%;
        font-size: 2em;
    }
    header>h1 {
        font-size: 3.5em;
    }
    main {
        grid-template-columns: 1fr;
    }
    section {
        margin: 2em 0 2em;
        background: whitesmoke;
        border: 0.1em solid #343F4B44;
    }s
}

@media (min-width: 80em) {
    main {
        max-width: 80em;
    }

    nav a:not([href$="products"]):hover, nav a:not([href$="products"]):focus {
        width: 90%;
        height: 90%;
        outline: 0;
    }
}
