@font-face {
    font-family: Ampersand;
    src: local('Georgia-Italic'), local('Goudy Old Style-Italic'), local('Palatino-Italic');
    unicode-range: U+26;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body>a:first-child {
    left: -999px;
    left: 63em;
    position: absolute;
    top: auto;
    width: 0;
    height: 0;
    overflow: hidden;
    text-decoration: underline;
    z-index: -999;
}
main {
    z-index: 0;
    box-sizing: border-box;
    overflow: auto;
    display: flex;
    justify-content: space-between;
}

section {
    background: whitesmoke;
    height: 40em;
    margin-bottom: 4em;
    width: 45%;
    z-index: 0;
}

section>h2:first-child {
    background: #F95F62;
    color: white;
    font-weight: normal;
    text-align: center;
}

body>a:first-child:focus, body>a:first-child:active {
    color: #fff;
    left: 0;
    top: 0;
    overflow: auto;
    z-index: 999;
    width: 100%;
    background: #F95F62;
    display: block;
    color: rgba(255, 255, 255, 1);
    padding: 0.75em;
    height: 2.5em;
    text-align: center;
    box-sizing: border-box;
    outline: 0;
}

header {
    background: #DC304B;
    background-size: cover;
    background-position: center;
    display: grid;
    height: 60vh;
    grid-template-columns: repeat(1, 1fr);
    padding: 0;
    margin: 0;
    color: rgba(255, 255, 255, 1);
}

header h1 {
    font-family: Ampersand, Roboto, sans-serif;
    font-size: 4em;
    margin: 0;
    margin-top: 2em;
    text-align: center;
    height: auto;
}

nav {
    transition: 0.5s;
    z-index:99;
    box-shadow: 0 0 0 50vmax rgba(0,0,0,.0);
}
nav:hover {
	box-shadow: 0 0 0 50vmax rgba(0,0,0,.6);
}

nav>ul {
    background: #1F2D3D;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    height: 40vh;
    padding: 0;
    margin: 0;
}

nav a {
    padding: 0.5em 0;
    text-align: center;
    box-sizing: border-box;
    transition: 0.25s;
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    font-weight: bold;
}

nav a:not([href$="products"]) {
    width: 100%;
    height: 100%;
}

nav a:hover, nav a:focus {
    outline: 0;
    background: #DC304B;
}

nav a:not([href$="products"]):hover, nav a:not([href$="products"]):focus {
    width: 90%;
    height: 90%;
    outline: 0;
}

/* All direct children of type a within li in the wrapper */

nav>ul>li>a {
    display: block;
    height: 50%;
    font-size: 3.5em;
}

/*Top of the submenu items (products > submenu products)*/

/*Submenu items*/

nav>ul>li>ul {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 50%;
    width: 100%;
    list-style: none;
    border-top: 0.2em solid #DC304B;
}

nav>ul>li>ul:nth-child(2) a {
    width: 100%;
    height: 100%;
    display: block;
}

nav>ul>li {
    border: 0.1em 0.1em 0.1em 0.1em solid #DC304B;
    list-style: none;
    width: 100%;
}

@media (max-width: 52em) {
    nav>ul {
        flex-wrap: wrap;
        background: black;
        height: auto;
    }
}
